
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/CSS/giraffeBlog.css">
    <title>기린의 개발일지</title>
</head>
<body>
    <div class="main-bg">
        <nav>
            <ul class="navbar">
                <li><a href="giraffeBlog.html">메인</a></li>
                <li><a href="giraffeBlogIntroduce.html">기린이란?</a></li>
                <li><a href="#">스킬</a></li>
                <li><a href="https://blog.naver.com/sb9230">블로그</a></li>
            </ul>
        </nav>
        <div class="main-title-box">
            <div class="titleEffect"></div>
            <h3 class="main-title">기린의 개발일지</h3>
            <p class="main-contents">Front-end 개발자를 향한 첫 걸음<br>HTML&CSS 익히기<br>학습한 내용으로 Web page 만들기
            </p>
            <a class="button around" href="">구경하기</a>
        </div>
    </div>
</body>
</html>