
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/CSS/giraffeBlog.css">
    <title>기린의 개발일지</title>
</head>
<body>
    <div class="main-bg">
        <nav>
            <div class="flex-nav-container">
                <a class="flex-nav-title" href="giraffeBlog.html">기린의 포트폴리오</a>
                <span style="flex-grow: 10;"></span>
                <!-- span 태그에 flex-grow 이용해서 title과 메뉴 사이 공백 생성 -->
                <a class="flex-nav" href="giraffeBlogIntroduce.html">기린 소개</a>
                <a class="flex-nav" href="giraffeBlogSkill.html">스킬</a>
                <a class="flex-nav" href="https://blog.naver.com/sb9230">블로그</a>
            </div>
        </nav>
</body>
</html>