<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/CSS/giraffeBlog.css">
    <title>기린의 개발일지 - 기린이란?</title>
</head>
<body>
    <div class="main-bg">
        <nav>
            <ul class="navbar">
                <li><a href="giraffeBlog.html">메인</a></li>
                <li><a href="./giraffeBlogIntroduce.html">기린이란?</a></li>
                <li><a href="#">스킬</a></li>
                <li><a href="https://blog.naver.com/sb9230">블로그</a></li>
            </ul>
        </nav>
                <div class="introduceGiraffe">
                    <h4 class="introTitle">기린은..</h4>
                    <img src="../public/image/giraffe2.png">
                    <p>블록체인에 대해 공부를 하다가 코딩의 매력에 빠져</p>
                    <p>Front-end 개발자가 되기 위해 공부 중인</p>
                    <p>체대를 졸업한 온순한 초식 동물 입니다.</p>
                    <p>꾸준히 개발을 하기위해</p>
                    <p>블로그와 github에 매일매일 일지와 코드를 작성하고 있습니다.</p>
                    <div></div>
                    <a class="button" href="https://blog.naver.com/sb9230">github보러가기</a>
                    <a class="button" href="https://blog.naver.com/sb9230">blog보러가기</a>
                </div>
            </div>
        </body>
</body>
</html>