<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/CSS/homework2.css">
    <title>네이버 블로그 레이아웃 만들기</title>
</head>
<body>
    <div class="container">
        <div class="contact_us">
            <h1>contact us</h1>
            <div class="form-whole">
                <h3>your Email</h3>
                <form>
                    <input type="email" class="form-input">
                </form>
            </div>
            <div class="form-half">
                <h3>First name</h3>
                <form>
                    <input type="text">
                </form>
            </div><div class="form-half">
                <h3>Last name</h3>
                <form>
                    <input type="text">
                </form>
            </div>
            <div style="clear:both;"></div>
            <div class="form-whole">
                <h3>Message</h3>
            <form>
                <textarea class="form-input" rows='7'></textarea>
            </form>
            </div>
            <div class="form-whole">
                <form>
                    <input type="checkbox" id="check">
                    <label for="check">Subscribe</label>
                    <button type="submit">SEND</button>
                <form>
            </div>
        </div>
    </div>
</body>
</html>