<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/CSS/homework3.css">
    <title>반응형 레이아웃 만들기</title>
</head>
<body>
    <div class="flex-container">
        <div class="flex-box">
            <h3>반응형 1</h3>
            <p>웹 만들기</p>
        </div>
        <div class="flex-box">
            <h3>반응형 2</h3>
            <p>웹 만들기</p>
        </div>
        <div class="flex-box">
            <h3>반응형 3</h3>
            <p>웹 만들기</p>
        </div>
        <div class="flex-box">
            <h3>반응형 4</h3>
            <p>웹 만들기</p>
        </div>
    </div>
</body>
</html>