
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/CSS/shopping.css">
    <link rel="stylesheet" href="../public/CSS/css/all.css">
    
    <!-- [if lt IE 9]>
    <link rel="stylesheet type="text/css" href="../public/CSS/ie8.css" />
    <![endif]-->
    <title>shopping</title>
</head>
<body>
    <div class="container">
        <div class="background">
            <nav>
                <div class="flex-nav-container">
                    <a class="nav-menu nav-logo" href="">LOGO</a>
                    <span style="flex-grow:10;"></span>
                    <a class="nav-menu" href="">SHOPPING</a>
                    <a class="nav-menu" href="">CART</a>
                    <a class="nav-menu" href="">SIGN IN</a>
                </div>
            </nav>
            <div class="main-contents">
                <h2>Take your style.</h2>
            </div>
        </div>
        <div class="title">
            <h2>The LAZION</h2>
            <a class="btn title-btn" role="button" href="">Go shopping</a>
        </div>
        <div class="things">
            <div class="things-info">
                <i class="fas fa-store"></i>
                <h4>Buy</h4>
                <p>Things</p>
            </div>
            <div class="things-info">
                <i class="fas fa-globe-asia"></i>
                <h4>Global</h4>
                <p>World's items</p>
            </div>
            <div class="things-info">
                <i class="fas fa-shopping-cart"></i>
                <h4>Cart</h4>
                <p>My favorite</p>
            </div>
            <div class="things-info">
                <i class="fas fa-store"></i>
                <h4>User</h4>
                <p>Setting</p>
            </div>
            <div class="things-info" style="float:none; clear: both;"></div>
        </div>
        <div class="gray-background">
            <div class="product-container">
                <div class="product-item">
                    <div style="position: relative;">
                        <!-- overlay에 position: absolute를 하기 위해 div 상자를 하나 더 만들어서 position: relative를 사용. -->
                        <div class="overlay">
                            <p>60 $</p>
                        </div> 
                            <img src="../public/image/product1.jpg">
                    </div>
                </div>
                <div class="product-item">
                    <div style="position: relative;">
                        <!-- overlay에 position: absolute를 하기 위해 div 상자를 하나 더 만들어서 position: relative를 사용. -->
                        <div class="wrap-overlay">
                            <div class="black-overlay defualt-overlay">
                                <span>$ 60</span>
                                <p>천연 가죽의 고급진 느낌</p>
                                <p>20대 최고 인기</p>
                            </div> 
                        </div>
                        <img src="../public/image/product2.jpg">
                    </div>
                </div>
                <div class="product-item">
                    <div style="position:relative;">
                        <div class="wrap-overlay">
                            <div class="top-overlay defualt-overlay">
                                <span>$ 70</span>
                                <p>가벼운 등산화</p>
                                <p>통기성 우수</p>
                            </div>
                        </div>
                        <img src="../public/image/product3.jpg">
                    </div>
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
    </div>
</body>
</html>