<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/CSS/test.css">
    <link rel="stylesheet" href="../public/CSS/css/all.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="wrap">
            <div class="text">
                <h1 class="title">Landing Page</h1>
                <h1>For Apps</h1>
                <p class="content">This is good page for your businesses. try use it!</p>
                <button class="btn">Learn More</button>
            </div>
            <div class="img">
                <img src="../public/image/iphone.png" alt="">
            </div>
        </div>
    </div>
    <div class="container2">
        <div class="wrap2">
            <div class="text2">
                <h3 class="title2">This is awesome portpolio try use it!</h3>
                <p class="content2">투명한 글씨를 길게 써놓는 곳 입니다.</p>
                <button class="btn">Show Portpolio</button>
            </div>
        </div>
    </div>
    <div class="container3">
        <div class="wrap3">
            <p>작은 글씨</p>
            <h1>What We Offer</h1>
            <div class="round-con">
                <div class="round-wrap">
                    <div class="round">
                        <i class="fas fa-mobile-alt"></i>   
                    </div>
                    <h3>Responsive</h3>
                    <h4>asasdadsadadas</h4>
                </div>
                <div class="round-wrap">
                    <div class="round">
                        <i class="fas fa-pencil-alt"></i>  
                    </div>
                    <h3>Responsive</h3>
                    <h4>asasdadsadadas</h4>
                </div>
                <div class="round-wrap">
                    <div class="round">
                        <i class="far fa-thumbs-up"></i>   
                    </div>
                    <h3>Responsive</h3>
                    <h4>asasdadsadadas</h4>
                </div>
                <div class="round-wrap">
                    <div class="round">
                        <i class="fas fa-question"></i>
                    </div>
                    <h3>Responsive</h3>
                    <h4>asasdadsadadas</h4>
                </div>
            </div>
        </div>
    </div>
</body>
</html>