@font-face {
    font-family: 'Y_Spotlight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/Y_Spotlight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0px;
    font-family: 'Y_Spotlight';
}
div {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
a:visited {
    color: black;
}
.button {
    border: solid 2px black;
    padding: 10px 40px 10px 40px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    border-radius: 30px;
    font-size: 20px;
    box-shadow: 2px 2px 3px 0px;
}
.button:hover {
    background-color: white;
    transition: .5s ease;
}
/* main page start */
.main-bg {
    width: 100%;
    height: 1009px;
    background-image: url(../image/giraffe.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.flex-nav-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
}
.flex-nav {
    padding-right: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.flex-nav-title {
    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;
}
.main-title-box{
    text-align: center;
    position: relative;
    height: 83px;
}
.main-title {
    font-size: 60px;
    font-weight: bold;
    margin-top: 300px;
}
.main-contents {
    /* display:block; */
    margin-top: -15px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px;
}
.main-title-box a {
    display: inline-block;
    width: 100px;
    text-align: center;
}
.main-titleBg {
    width: 400px;
    height: 4px;
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 215px;
    opacity: 0.2;
}
.around {
    font-size: 24px;
    font-weight: 600;
}
/* main page end */
/* introduceGiraffe start  */
.introduceGiraffe {
    width: 480px;
    height: 600px;
    /* border: solid 1px black; */
    margin: auto;
    margin-top: 200px;
    text-align: center;
    border-radius: 10%;
    box-shadow: 0px 0px 50px -10px;
}
.introTitle {
    display:inline-block;
    margin-top: 20px;
    font-size: 40px;
    margin-bottom: 40px;
}
.introduceGiraffe img {
    width: 150px;
    height: 150px;
    background-color: #fff;
    border-radius: 1000px;
    display: block;
    margin: auto;
    margin-bottom: 50px;
}
.introduceGiraffe p {
    font-size: 16px;
    font-weight: bold;
}

.introduceGiraffe a {
    display: inline-block;
    margin-top: 10px;
    margin-left:5px;
    margin-right: 5px;
    padding: 10px 15px 10px 15px;
    font-weight: bold;
}  
/* introduceGiraffe end  */
/* giraffe skill start */
.wrap-giraffe-skill {
}
.giraffe-skill {
}
/* giraffe skill end */
/* giraffe blog start */
/* giraffe blog end */
